body {
	background-color: #2c3c51;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 10px, 20px, 10px, 20px;
}

#header-container {
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

#footer-container {
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

#menu-container {
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

#menu-content {
	text-align: center;
}

#logination-container {
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

#calculator-form-container {
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#registration-container, #users-container{
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top:5px;
	margin-bottom:5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.item-content-column {
	display: inline-block;
	width: 600px;
	text-align: right;
}

.item-action-column {
	display: inline-block;
}

.form-title {
	margin-right: 20px;
	margin-left: 100px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	width: 200px;
}

.form-err-message {
	color: red;
	margin-right: 5px;
	margin-left: 5px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.form-message {
	color: green;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.logination-title {
	margin-right: 20px;
	margin-left: 10px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}

.form-input {
	display: inline-block;
}

.submit-container {
	text-align: center;
}

a:link.auth_reg {
	font-size: 80%;
	color: black;
}

a:visited.auth_reg {
	color: gray;
}

a:hover.auth_reg {
	color: black;
}

a:active.auth_reg {
	color: gray;
}

a:link.menu {
	color: #2c3c51;
}

a:visited.menu {
	color: #2c3c51;
}

a:hover.menu {
	color: black;
}

a:active.menu {
	color: gray;
}