@charset "UTF-8";
#registration-container {
	width: 850px;
	background-color: #a7c7eb;
	margin: auto;
	margin-top:5px;
	margin-bottom:5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	
}